$secondary: #26a69a;
$accent: #9c27b0;

$primary: #0d1117;
$dark: #0d1117;
$dark-page: #0d1117;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$font-color: #e1e5ec;
$vue-color: #42b883;

// $primary: #22272e;
// $dark: #22272e;
// $dark-page: #22272e;
