$primary: #22272e;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #22272e;
$dark-page: #22272e;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$font-color: #adbac7;

$vue-color: #42b883;
