@use "./base.scss";
@use "./variables.scss" as *;

* {
  font-weight: 500;
}

ul#explorer-ul {
  min-height: 550px;
}

// Search Bar (search.scss 9 라인 Overwrite)
.search {
  & > #search-icon {
    background-color: var(--highlight);
  }
}

// Explorer h1 타이틀에 text-decoration 설정 (Explorer.tsx)
// Table Of Contents h3 타이틀에 text-decoration 설정 (TableOfContents.tsx)
// Recent Notes h3 타이틀에 text-decoration 설정 (RecentNotes.tsx)
.explorer > button > h1,
.toc > button > h3,
.recent-notes > h3 {
  border-bottom: 1.5px solid currentColor;
  display: inline-block;
  padding-bottom: 4px;
}

// File Explorer 디렉터리가 아닌, 파일일때 li 태그 색 & Align (ExplorerNode.tsx)
.file-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  user-select: none;

  & div > a.file-document {
    color: var(--dark);
    opacity: .75;
    line-height: 1.5rem;
    display: inline-block;
  }

  & div > a.file-document:hover {
    color: var(--tertiary);
  }
}

// ============ 해시 태그 ==============
.tags { // 모든 .tags 에
  & a.tag-link {
    &::before {
      content: ""; // 해시태그 # 제거 (base.scss 96 라인 Overwrite)
    }
  }
}

.page-header { // page-header 내부
  & .tags { // .tags 는 왼쪽 정렬
    justify-self: start;
    &::before { // 그리고 Tags 문자열 추가
      content: "Tags:";
      font-weight: bold;
      color: var(--darkgray);
      align-self: center;
    }
  }

  & a.internal.tag-link { // 각 해시태그를 화살표 방향으로 만든다.
    padding: 0.1rem 0.6rem 0.1rem 1rem;
    margin: 0 0.1rem;
    background-color: var(--highlight);
    clip-path: polygon(
                    0% 50%,
                    15% 0%,
                    100% 0%,
                    100% 100%,
                    15% 100%
    );
    text-decoration: none;
    display: inline-block;
  }
}

.section-li { // 태그 페이지 grid
  & .section {
    display: grid;
    grid-template-columns: 1fr 5fr 4fr;
    align-items: center;
    gap: 1rem;

    & .meta {
      min-width: 90px;
      margin: 0;
      font-size: 0.875rem;
      color: var(--gray);
    }

    & .desc {
      .desc {
        margin: 0;
      }
    }

    & .tags {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 0.2rem;
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
}
// ==================================


// Article 내부 외부링크 text-underline 설정 (base.scss 79 라인 라인을 일부 Overwrite)
article {
  a.external {
    text-decoration: none;
    font-weight: 700;
    &:hover {
      text-decoration: underline;
      color: inherit !important;
    }
  }
}

// code background 색 변경 (base.scss 422 라인 Overwrite)
code {
  background: var(--highlight);
}

// h 태그 색 지정. (base.scss 278 라인 Overwrite)
h1,
h2,
h3,
h4,
h5,
h6,
thead {
  color: var(--darkgray);
}

// page 클래스 내부 h 태그 크기 및 조정
.page {
  & h1.article-title { // 게시글 상단 제목 h1 태그 font 설정
    font-size: 2.26rem;
    font-weight: 700;
  }

  & article {
    & > h1 {
      font-size: 2.4rem;
    }

    & > h2 {
      font-size: 2.0rem;
      margin-top: 4rem;
    }

    & > h3 {
      font-size: 1.7rem;
      margin-top: 3rem;
    }

    h2::after,
    h3::after {
      content: "";
      display: block;
      width: 100%;
      height: .1px;
      background-color: var(--dark);
      opacity: .5;
      margin-top: 10px;
    }

    & > h4, h5, h6 {
      font-size: 1.4rem;
      margin-top: 2rem;
    }

    h1, h2, h3, h4, h5, h6 { // h 태그 아래 또다른 h 태그면 마진을 적게
      margin-bottom: 0;
      & + h1,
      & + h2,
      & + h3,
      & + h4,
      & + h5,
      & + h6 {
        margin-top: 1.3rem;
      }
    }
  }

  p img {
    margin-top: -0.4px;
  }

  p pre {
    margin-top: -0.4px;
  }

  figure {
    pre {
      margin-bottom: 2.5rem;
      & + p img {
        margin-bottom: 10px;
      }
    }
  }
}

// left, right 사이드바 길이, 패딩, 마진
.page {
  & > #quartz-body {
    & .sidebar.left {
      left: calc(calc(100vw - $pageWidth) / 2 - $sidePanelWidth - 30px);
      padding: 0;
    }
    & .sidebar.right {
      right: calc(calc(calc(100vw - $pageWidth) / 2 - $sidePanelWidth) - 120px);
    }
  }
}

